<section class="why_me content_max">
    <h2>{{ 'why_me.whyme' | translate }}</h2>
    <div class="content">
        <div class="locate">
            <img src="./../../../assets/img/icons/locate_icon.svg" alt="Locate Icon">
            {{ 'why_me.location' | translate }}
        </div>
        <div class="text">
            {{ 'why_me.text' | translate }}
            <a href=""><img src="./../../../assets/img/icons/btn_lets_talk.svg" alt="Let's Talk Button"></a>
        </div>
    </div>
    <div>
    </div>

</section>