@import './../../../styles.scss';

.why_me {
    @include dFlex();
    flex-direction: column;
    width: 860px;
    height: 307px;
    gap: 80px;
    margin-top: 100px;
    margin-bottom: 100px;

    h2 {
        font-family: 'Anta';
        color: $blue;
        font-size: 60px;
        font-weight: 400;

    }

    .content {
        @include dFlex($jc: space-between, $ai: flex-start);
        width: 100%;
        height: 176px;

        .locate {
            @include dFlex($jc: flex-start);
            width: 450px;
            font-size: 30px;
            font-weight: 700;

            // border: 1px solid;

            img {
                width: 73px;
                height: 63px;
            }
        }

        .text {
            position: relative;
            @include dFlex($jc: flex-start);
            flex-direction: column;
            width: 390px;
            height: 176px;
            font-size: 18px;
            font-weight: 400;

            // border: 1px solid;

            img {
                position: absolute;
                bottom: 0;
                right: 0;

                &:hover {
                    background-image: url('./../../../assets/img/icons/btn_lets_talk_hover.svg');
                }
            }
        }
    }




}