<section class="why_me content_max">
  <main>
    <h2>{{ "why_me.whyme" | translate }}</h2>
    <div class="content">
      <div class="locate">
        @if(currentState === 0) {
        <div>
          <img src="assets/img/icons/locate_icon.svg" alt="Locate Icon" />
          <div
            class="typewriter_location"
            [innerHTML]="'why_me.location' | translate"
          ></div>
        </div>
        } @if(currentState === 1) {
        <div>
          <img src="assets/img/icons/remote_icon.svg" alt="Remote Icon" />
          <div
            class="typewriter_remote"
            [innerHTML]="'why_me.remote' | translate"
          ></div>
        </div>
        } 
        @if(currentState === 2) {
        <div>
          <img src="assets/img/icons/suitcase_icon.svg" alt="Suitcase Icon" />
          <div
            class="typewriter_relocate"
            [innerHTML]="'why_me.relocate' | translate"
          ></div>
        </div>
        }
      </div>
      <div class="text">
        <p>{{ "why_me.text" | translate }}</p>
        <a href="#contact_me">
          <img
            class="lets_talk_icon"
            src="assets/img/icons/btn_lets_talk.svg"
            alt="Let's Talk Button"
          />
        </a>
      </div>
    </div>
  </main>
</section>
