@import './../../../styles.scss';

.why_me {
    @include dFlex($g: 80px);
    flex-direction: column;
    width: 50%;
    margin-top: 100px;
    margin-bottom: 100px;

    h2 {
        font-family: 'Anta';
        color: $blue;
        font-size: 60px;
        font-weight: 400;
    }

    .content {
        @include dFlex($jc: space-between, $ai: flex-start, $g: 30px);
        width: 100%;
        font-weight: 700;

        .locate {
            @include dFlex($jc: flex-start, $g: 30px);
            flex-direction: column;
            width: 50%;
            font-size: 30px;
            font-weight: 500;

            img {
                width: 73px;
                height: 63px;
            }

            >div {
                @include dFlex($g: 10px);
            }
        }

        .text {
            position: relative;
            @include dFlex($jc: flex-start);
            flex-direction: column;
            width: 50%;
            height: 176px;
            font-size: 18px;
            font-weight: 400;

            img {
                position: absolute;
                bottom: 0;
                right: 0;

                &:hover {
                    background-image: url('./../../../assets/img/icons/btn_lets_talk_hover.svg');
                }
            }
        }
    }
}

/* --------------------------------------------------   Mobil   --------------------------------------------------*/
@media (max-width: 1100px) {
    .why_me {
        @include dFlex($g: 30px);
        margin-top: 0px;
        margin-bottom: 0;
        width: 100%;

        h2 {
            font-size: 48px;
        }

        .content {
            @include dFlex($ai: center, $g: 50px);
            flex-direction: column;
            padding-left: 50px;
            padding-right: 50px; 

            .locate {
                @include dFlex();
                width: 100%;
                font-size: 24px;

                // div {
                //     @include dFlex($ai: center, $g: 50px);
                // }

                img {
                    width: 60px;
                    height: 50px;
                }
            }

            .text {
                height: auto;
                text-align: center;

                p {
                    width: 450px;
                }

                img {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .why_me {

        h2 {
            font-size: 32px;
        }

        .content {
            width: 100%;

            .locate {
                font-size: 18px;
                width: 100%;

                img {
                    width: 32.5px;
                    height: 40px;
                }
            }

            .text {
                font-size: 16px;
                width: 100%;
                padding: 10px;

                p {
                        width: 100%;
                    }
            }
        }
    }
}