<section class="single_project content_max">
    <main class="content">
        <div class="content_text">
            <div class="about">
                <div class="headline">
                    <img src="assets/img/icons/bubble_project.svg">
                    <h3>{{ project.project_about | translate }}</h3>
                    <p class="duration">{{ project.project_duration | translate }}</p>

                </div>
                <div class="text">
                    <p>{{ project.project_about_text | translate }}</p>
                </div>
            </div>
            <div class="organized">
                <div class="headline">
                    @if(project.index != 7) {
                    <img src="assets/img/icons/bubble_project.svg">
                    }
                    <h3>{{ project.project_organized | translate}}</h3>
                    <p></p>

                </div>
                <div class="text">
                    <p [innerHTML]="project.project_organized_text | translate"></p>
                </div>
            </div>
            <div class="learned">
                <div class="headline">
                    @if(project.index != 7) {
                    <img src="assets/img/icons/bubble_project.svg">
                    }
                    <h3>{{ project.project_experience | translate }}</h3>
                    <p></p>
                </div>
                <div class="text">
                    <p>{{ project.project_experience_text | translate }}
                    </p>
                </div>
            </div>
            <div class="button_mobile">
                <a href="{{ project.project_link_live | translate }}" target="_blank"><button class="live">Live
                        Test</button></a>
                <a href="{{ project.project_link_github | translate }}" target="_blank"><button class="github">GitHub</button></a>
            </div>
        </div>
        <div class="content_img">
            <div class="icons_container">
                <div class="desktop">
                    <p>{{ 'project.icons_container_headline' | translate }}</p>
                    <figure class="icons">
                        @if(project.index < 2) {
                        <img src="{{ project.project_icon_html }}" alt="HTML Icon">
                        <img src="{{ project.project_icon_js }}" alt="JavaScript Icon">
                        <img src="{{ project.project_icon_css }}" alt="CSS Icon">
                        }
                        @if(project.index == 2) {
                        <img src="{{ project.project_icon_html }}" alt="HTML Icon">
                        <img src="{{ project.project_icon_angular }}" alt="Angular Icon">
                        <img src="{{ project.project_icon_css }}" alt="CSS Icon">
                        }
                        @if(project.index == 3) {
                        <img src="{{ project.project_icon_angular }}" alt="Angular Icon">
                        <img src="{{ project.project_icon_typescript }}" alt="TypeScript Icon">
                        <img src="{{ project.project_icon_html }}" alt="HTML Icon">
                        <img src="{{ project.project_icon_css }}" alt="CSS Icon">
                        <img src="{{ project.project_icon_vue_js }}" alt="Vue_JS Icon">
                        <img src="{{ project.project_icon_react }}" alt="React Icon">
                        }
                        @if(project.index >= 4 || project.index >= 5) {
                        <img src="{{ project.project_icon_python }}" alt="Python Icon">
                        <img src="{{ project.project_icon_django }}" alt="Django Icon">
                        }
                        @if(project.index >= 6) {
                        <img src="{{ project.project_icon_angular }}" alt="Angular Icon">
                        <img src="{{ project.project_icon_typescript }}" alt="TypeScript Icon">
                        <img src="{{ project.project_icon_html }}" alt="HTML Icon">
                        <img src="{{ project.project_icon_css }}" alt="CSS Icon">
                        <img src="{{ project.project_icon_python }}" alt="Python Icon">
                        <img src="{{ project.project_icon_django }}" alt="Django Icon">
                        }
                    </figure>
                </div>
                <div class="mobile">
                    <h2>{{ project.project_title| translate }}</h2>
                    <div>
                        <p>{{ 'project.icons_container_headline' | translate }}:</p>
                        <div class="icons">
                            @if(project.index < 2) {
                            <p>HTML, CSS, JavaScript</p>
                            }
                            @if(project.index == 2){
                            <p>HTML, Angular, CSS</p>
                            }
                            @if(project.index == 3) {
                            <p>Angular, TypeScript, HTML, CSS, Vue Js, React</p>
                            }
                            @if(project.index == 4){
                            <p>Python, Django</p>
                            }
                            @if(project.index == 5){
                            <p>Python, Django</p>
                            }
                            @if(project.index == 6){
                            <p>Python, Django, Angular, TypeScript, HTML, CSS</p>
                            }
                        </div>
                    </div>
                    <p>{{ project.project_duration | translate }}</p>
                </div>
            </div>
            <div class="image">
                @if(project.index == 3 || project.index == 6) {
                }
                <img src="assets/img/{{ project.img }}" alt="Project Image">
            </div>
            <div class="button_desktop">
                <a href="{{ project.project_link_live | translate }}" target="_blank"><button class="live">Live
                        Test</button></a>
                <a href="{{ project.project_link_github | translate }}" target="_blank"><button
                        class="github">GitHub</button></a>
            </div>
        </div>
    </main>
</section>