<section class="single_project content_max">
    <div class="content">
        <div class="content_text">
            <div class="about">
                <div class="headline">
                    <img src="assets/img/icons/bubble_project.svg">
                    <h3>{{ project.project_about | translate }}</h3>
                    <p>{{ project.project_duration | translate }}</p>

                </div>
                <div class="text">
                    <p>{{ project.project_about_text | translate }}</p>
                </div>
            </div>
            <div class="organised">
                <div class="headline">
                    <img src="assets/img/icons/bubble_project.svg">
                    <h3>{{ project.project_organised | translate}}</h3>
                    <p></p>

                </div>
                <div class="text">
                    <!-- <p>{{ project.project_organised_text | translate }}</p> -->
                    <p [innerHTML]="project.project_organised_text | translate"></p>
                </div>
            </div>
            <div class="learned">
                <div class="headline">
                    <img src="assets/img/icons/bubble_project.svg">
                    <h3>{{ project.project_experience | translate }}</h3>
                    <p></p>

                </div>
                <div class="text">
                    <p>{{ project.project_experience_text | translate }}
                    </p>
                </div>
            </div>
        </div>
        <div class="content_img">
            <div class="icons_container">
                <p>{{ 'project.icons_container_headline' | translate }}</p>
                <div class="icons">
                    <img src="{{ project.project_icon_html }}">
                    <img src="{{ project.project_icon_js }}">
                    <img src="{{ project.project_icon_css }}">
                </div>
            </div>
            <div class="image">
                <img src="assets/img/{{ project.img }}" alt="">
            </div>
            <div class="button">
                <a href="{{ project.project_link_live | translate }}" target="_blank"><button class="live">Live Test</button></a>
                <a href="{{ project.project_link_github | translate }}" target="_blank"><button class="github">GitHub</button></a>
            </div>
        </div>
    </div>
</section>