<section class="content_max">
    <div class="contact_me">
        <h2>{{ 'contact.contact_headline' | translate }}</h2>
        <a href="#">
            <img class="arrow_up" src="assets/img/icons/arrow_up_icon.svg" alt="Arrow Up Icon">
        </a>
        <div class="content">
            <p [innerHTML]="'contact.contact_content' | translate"></p>
            <div class="contact">
                <div class="mail">
                    <img class="mail_icon" src="assets/img/icons/mail_icon.svg" alt="">
                    <a href="mailto:kontakt@martin-bock.info">
                        <p>
                            {{ 'contact.contact_mail' | translate }} kontakt&#64;martin-bock.info
                        </p>
                    </a>
                </div>
                <div class="phone">
                    <img class="phone_icon" src="assets/img/icons/phone_icon.svg" alt="">                    
                    <a href="tel:+493081473698">
                        <p>
                            {{ 'contact.contact_phone' | translate }} +49 30 814 736 98
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="input">
            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                <div class="input_fields">
                    <div class="name">
                        <label for="name">
                            <span class="label-text">Name:</span>
                            <span *ngIf="!name.valid && name.touched && !name.disabled" class="error-message">Please
                                enter a valid name (at least 4 characters)</span>
                        </label>
                        <div>
                            <input #name="ngModel" minlength="4" [(ngModel)]="contactData.name" type="text" id="name"
                                name="name" placeholder="Your name..." required
                                [ngClass]="{'invalid': !name.valid && name.touched}">
                            <!-- Display checkmark if the field is valid -->
                            <img *ngIf="name.valid" class="checkmark" src="assets/img/icons/checkmark.svg"
                                alt="Checkmark Icon">
                        </div>
                    </div>
                    <div class="email">
                        <label for="email">
                            <span class="label-text">E-Mail:</span>
                            <span *ngIf="!email.valid && email.touched && !email.disabled" class="error-message">Please
                                enter a valid email</span>
                        </label>
                        <div>
                            <input #email="ngModel" minlength="4" [(ngModel)]="contactData.email" type="email"
                                id="email" name="email" placeholder="Your mail..." required
                                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
                                [ngClass]="{'invalid': !email.valid && email.touched}">
                            <!-- Display checkmark if the field is valid -->
                            <img *ngIf="email.valid" class="checkmark" src="assets/img/icons/checkmark.svg"
                                alt="Checkmark Icon">
                        </div>
                    </div>
                </div>

                <div class="message" [ngClass]="{'invalid': !message.valid && message.touched}">
                    <label for="message">
                        <span class="label-text">Message:</span>
                        <span *ngIf="!message.valid && message.touched && !message.disabled"
                            class="error-message">Please enter a valid message (at least 4 characters)</span>
                    </label>
                    <div class="textarea">
                        <div>
                            <textarea #message="ngModel" minlength="4" [(ngModel)]="contactData.message" type="message"
                                id="message" name="message" placeholder="write something..." required
                                [ngClass]="{'invalid': !message.valid && message.touched}">
                            </textarea>
                            <!-- Display checkmark if the field is valid -->
                            <img *ngIf="message.valid" class="checkmark" src="assets/img/icons/checkmark.svg"
                                alt="Checkmark Icon">
                        </div>
                    </div>
                </div>
                <div class="privacy_policy">
                    <div class="checkbox_icon" (click)="toggleCheckbox()">
                        <!-- Standard Checkbox Icon (Anfangszustand) -->
                        <img *ngIf="!isChecked && !isSubmitted" class="default"
                            src="./../../../assets/img/icons/checkbox_icon.svg" alt="Checkbox Icon">

                        <!-- Aktives Checkbox Icon (Wenn geklickt) -->
                        <img *ngIf="isChecked" src="./../../../assets/img/icons/checkbox_icon_active.svg"
                            alt="Checkbox Icon Active">

                        <!-- Fehler-Icon (Wenn Formular abgesendet wird und Checkbox nicht angeklickt wurde) -->
                        <img *ngIf="!isChecked && isSubmitted" class="error"
                            src="./../../../assets/img/icons/checkbox_icon_error.svg" alt="Checkbox Icon Error">

                    </div>
                    <div class="privacy">
                        <p>I've read the <a routerLink="privacy">{{ 'footer.privacy_policy' | translate }}</a> and agree
                            to the processing of my data as
                            autlined.</p>
                        <p *ngIf="!isChecked && isSubmitted" class="error_color">Please accept the privacy policy.</p>
                    </div>
                </div>

                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</section>