@import './../../../styles.scss';

section {
    @include dFlex();

    .contact_me {
        position: relative;
        @include dFlex($g: 30px);
        flex-direction: column;
        width: 1100px;
        height: 100%;

        // border: 1px solid;

        h2 {
            font-family: 'Anta';
            font-size: 54px;
            font-weight: 400;
            color: $blue;
        }

        .arrow_up {
            position: absolute;
            right: 10px;
            top: 0px;

            &:hover {
                background-image: url('./../../../assets/img/icons/arrow_up_hover_icon.svg');
            }
        }

        .content {
            @include dFlex($ai: flex-start, $g: 50px);
            width: 100%;
            margin-bottom: 50px;

            p {
                @include dFlex($ai: flex-start);
                width: 50%;
                text-align: justify;
            }

            .contact {
                @include dFlex($ai: flex-start, $g: 10px);
                flex-direction: column;
                width: 50%;

                .mail {
                    width: 100%;
                    @include dFlex($jc: flex-start, $g: 10px);

                    .mail_icon {
                        width: 26px;
                        height: 30px;
                        visibility: visible;
                    }

                    &:hover {
                        background-image: url('./../../../assets/img/icons/mail_icon_hover.svg');
                        background-repeat: no-repeat;

                        .mail_icon {
                            visibility: hidden;
                        }
                    }

                    a {
                        font-size: 18px;
                        font-weight: 400;
                        text-decoration: none;
                        text-align: left;

                        p {
                            width: 100%;
                        }
                    }

                    &:hover a>p {
                        color: $blue;
                    }
                }

                .phone {
                    width: 100%;
                    @include dFlex($jc: flex-start, $g: 10px);

                    .phone_icon {
                        width: 26px;
                        height: 30px;
                        visibility: visible;
                    }

                    &:hover {
                        background-image: url('./../../../assets/img/icons/phone_icon_hover.svg');
                        background-repeat: no-repeat;

                        .phone_icon {
                            visibility: hidden;
                        }
                    }

                    a {
                        font-size: 18px;
                        font-weight: 400;
                        text-decoration: none;
                        text-align: left;

                        p {
                            width: 100%;
                        }
                    }

                    &:hover a>p {
                        color: $blue;
                    }
                }
            }
        }

        .input {
            width: 100%;

            // border: 1px solid yellow;

            .label-text {
                display: inline;
            }

            form {
                @include dFlex($g: 20px);
                flex-direction: column;

                .input_fields {
                    width: 100%;
                    @include dFlex($jc: flex-end, $g: 30px);

                    // border: 1px solid;

                    .name,
                    .email {
                        @include dFlex($ai: flex-start);
                        flex-direction: column;
                        width: 50%;
                        height: 60px;

                        label {
                            @include dFlex();
                            flex-direction: column;
                            padding-left: 26px;
                            font-size: 14px;
                            font-weight: 400;
                            color: $blue;

                            .label-text {
                                display: block;
                            }

                            .error-message {
                                display: none;
                            }

                            &:has(.error-message) .label-text {
                                display: none;
                            }

                            &:has(.error-message) .error-message {
                                display: block;
                            }
                        }

                        div {
                            @include dFlex();
                            position: relative;
                            width: 100%;

                            #name,
                            #email {
                                @include dFlex();
                                width: 100%;
                                height: 60px;
                                border: 1px solid;
                                border-color: $blue;
                                border-radius: 30px;
                                padding-left: 26px;
                                font-size: 16px;
                                font-weight: 400;

                                &:focus {
                                    background: rgba(137, 188, 217, 0.12);
                                    outline: none;
                                }

                                &.invalid {
                                    border-color: red;
                                }
                            }

                            .checkmark {
                                position: absolute;
                                right: 20px;
                                background-color: transparent;
                            }
                        }

                    }
                }

                .message {
                    @include dFlex($ai: flex-start);
                    flex-direction: column;
                    width: 100%;
                    height: 164px;

                    label {
                        padding-left: 10px;
                        font-size: 14px;
                        font-weight: 400;
                        color: $blue;
                        padding-left: 26px;

                        .label-text {
                            display: block;
                        }

                        .error-message {
                            display: none;
                        }

                        &:has(.error-message) .label-text {
                            display: none;
                        }

                        &:has(.error-message) .error-message {
                            display: block;
                        }
                    }

                    .textarea {
                        height: 146px;
                        width: 100%;

                        // border: 1px solid;

                        div {
                            @include dFlex();
                            position: relative;
                            width: 100%;
                            height: 100%;

                            #message {
                                width: 100%;
                                height: 100%;
                                border: 1px solid;
                                border-color: $blue;
                                border-radius: 30px;
                                padding-top: 20px;
                                padding-left: 26px;
                                font-size: 16px;
                                font-weight: 400;

                                &:focus {
                                    background: rgba(137, 188, 217, 0.12);
                                    outline: none;
                                }

                                &.invalid {
                                    border-color: red;
                                }
                            }

                            .checkmark {
                                position: absolute;
                                right: 20px;
                                top: 20px;
                                background-color: transparent;
                            }
                        }
                    }
                }

                .privacy_policy {
                    width: 100%;
                    @include dFlex($jc: flex-start, $g: 10px);

                    .checkbox_icon {
                        width: 24px;
                        height: 24px;
                        cursor: pointer;

                        .default {
                            display: block;

                            &:hover {
                                background-image: url('./../../../assets/img/icons/checkbox_icon_hover.svg');

                                .default {
                                    display: none;
                                }
                            }
                        }

                        .error {
                            width: 100%;

                            .error_message {
                                color: $red;
                            }
                        }
                    }

                    .privacy {
                        width: 100%;
                        @include dFlex($jc: flex-start, $ai: flex-start);
                        flex-direction: column;

                        p {
                            font-size: 14px;
                            font-weight: 400;

                        }

                        .error_color {
                            color: red;
                        }

                        a {
                            font-size: 14px;
                            font-weight: 400;
                            text-decoration: none;
                            color: $blue;
                            cursor: pointer;

                            &:active {
                                color: $creme-white;
                            }
                        }

                    }

                }
            }
        }
    }
}

.error-message {
    color: red;
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}