@import './../../../styles.scss';

.hero {
    width: 100%;
    height: 85vh;
    @include dFlex();
    flex-direction: column;
}

.profil_section {
    @include dFlex();
    width: 100%;
    flex: 1;
    padding-left: 50px;
    padding-right: 50px;
}

.profil_image {
    @include dFlex();
    height: 100%;
    width: 50%;

    .profil_img_box {
        @include dFlex($ai: flex-end, $g: 0);
        @include posi($p: relative);
        height: 70%;
        width: 100%;

        img {
            background: none;
            object-fit: cover;
        }

        .profil_img {
            @include posi($b: 0, $l: 50%);
            transform: translate(-50%, -1%);
            max-height: 100%;
            max-width: 100%;
            z-index: 2;
            pointer-events: none;
        }

        .bg_img {
            @include posi($b: 0, $l: 50%);
            transform: translate(-50%, 0%) rotate(7deg);
            max-height: 85%;
            max-width: 110%;
            opacity: 1;
            transition: opacity 0.75s ease-in-out;
            z-index: 1;
        }

        .bg_img_hover {
            @include posi($b: 0, $l: 50%);
            transform: translate(-50%, 0%) rotate(7deg);
            max-height: 85%;
            max-width: 110%;
            opacity: 0;
            transition: opacity 0.75s ease-in-out;
            z-index: 1;
            pointer-events: none; // Klicks und Hovers gehen "durch" das Bild
        }

        .profil_img_bg {
            display: none;
        }

        &:hover {
            .bg_img {
                opacity: 0;
            }

            .bg_img_hover {
                opacity: 1;
            }
        }
    }
}

.logo_section {
    @include dFlex($jc: space-between);
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

    .social_media {
        width: 100%;
        @include dFlex($ai: flex-end);
        flex-direction: column;


        img {
            margin-top: 10px;
        }

        .mail:hover {
            background-image: url('./../../../assets/img/icons/mail_icon_hover.png');
        }

        .github:hover {
            background-image: url('./../../../assets/img/icons/github_icon_hover.png');
        }

        .linkedin:hover {
            background-image: url('./../../../assets/img/icons/linkedin_icon_hover.png');
        }
    }

    .logo {
        @include dFlex();
        flex-direction: column;

        div {
            @include dFlex();
            flex-direction: column;
        }

        .logo_icon {
            position: relative;

            .logo_img {
                transition: opacity 0.7s ease-in-out;
                position: absolute;
                top: 0;
                left: 2px;
            }

            .logo_img_hover {
                transition: opacity 0.7s ease-in-out;
                opacity: 0;
            }
        }

        &:hover {
            .logo_icon {
                .logo_img_hover {
                    opacity: 1;
                }

                .logo_img {
                    opacity: 0;
                }
            }
        }

        .dev {
            color: $blue;
            font-weight: 300;
        }

        .burger_menu {
            display: none
        }
    }

    .name_section {
        @include dFlex();
        flex-direction: column;
        margin-top: 50px;

        h1,
        h2 {
            text-align: center;
            margin-bottom: 20px;
        }
    }

    .arrow_down {

        img:hover {
            background-image: url('./../../../assets/img/icons/arrow_down_hover_icon.png');
            cursor: pointer;
        }
    }
}

/* --------------------------------------------------   Mobil   --------------------------------------------------*/
@media (max-width: 1000px) {
    .profil_section {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;

        .profil_image {
            position: absolute;
            top: 50px;
            height: 60%;
            width: 75%;
            background-color: transparent;

            .profil_img_box {
                background-color: transparent;

                .bg_img,
                .bg_img_hover {
                    display: none;
                    opacity: 0;
                }

                .profil_img {
                    max-height: 100%;
                }

                .profil_img_bg {
                    display: block;
                    transform: rotate(7deg);
                }
            }
        }
    }

    .logo_section {
        @include dFlex($jc: space-between, $ai: center);
        width: 100%;
        padding: 50px;

        .social_media {
            display: none;
        }

        .logo {
            @include dFlex($jc: space-between, $ai: flex-start);
            flex-direction: row;
            width: 100%;

            &:hover {
                .logo_icon {
                    .logo_img_hover {
                        opacity: 0;
                    }

                    .logo_img {
                        opacity: 1;
                    }
                }
            }

            .burger_menu {
                display: block;
                width: 30px;
                height: 32px;
            }
        }

        .name_section {
            @include posi($t: 450px, $l: 50%);
            transform: translate(-50%);
            width: 100%;
            height: 150px;

            h1 {
                font-size: 48px;
            }

            h2 {
                font-size: 24px;
            }
        }

        .arrow_down {
            @include posi($t: 650px, $l: 50%);
            transform: translate(-50%);
        }
    }
}

@media (max-width: 400px) {
    .profil_section {
        padding-left: 5px;
        padding-right: 5px;
    }

    .profil_img {
        height: 90%;
    }

    .profil_img_bg {
        height: 75%;
    }
}