<section class="hero content_max">
    <div class="profil_section">
        <div class="profil_image">
            <div class="profil_img_box">
                <img class="profil_img" src="./../../../assets/img/profil_1 - Kopie.png" alt="Profil Image">
                <img class="bg_img" src="./../../../assets/img/svg/aot_bg.svg" alt="Background Image">
                <img class="profil_img_bg" src="./../../../assets/img/svg/profil_img_bg.svg" alt="Background Image">
                <img class="bg_img_hover" src="./../../../assets/img/svg/aot_bg_hover.svg" alt="Background Image">
            </div>
        </div>
        <div class="logo_section">
            <div class="social_media">
                <img class="mail" src="./../../../assets/img/icons/mail_icon.png" alt="">
                <a href="https://github.com/MartinBock1" target="_blank">
                    <img class="github" src="./../../../assets/img/icons/github_icon.png" alt="GitHub Icon">
                </a>
                <a href="https://www.linkedin.com/in/martin-bock-8aa698139" target="_blank">
                    <img class="linkedin" src="./../../../assets/img/icons/linkedin_icon.png" alt="LinkedIn Icon">
                </a>
            </div>
            <div class="logo">
                <div>
                    <div class="logo_icon">
                        <img class="logo_img" src="./../../../assets/img/icons/logo_icon.png" alt="">
                        <img class="logo_img_hover" src="./../../../assets/img/icons/logo_icon_hover.png" alt="">
                    </div>
                    <p class="fontAnta">M.Bock</p>
                    <p class="dev">developer</p>
                </div>
                <div class="burger_menu" (click)="toggleMenu()" [ngClass]="{'toggle': isMenuVisible}">
                    <!-- <img [class.resp_menu_closed]="!isMenuVisible" (click)="toggleMenu()"
                        src="./../../../assets/img/icons/burger_menu.svg" alt="Responsive Menu" /> -->
                </div>
                <div id="resp_menu" class="resp_menu_box" [class.resp_menu_closed]="!isMenuVisible" [class.show]="isMenuVisible">
                    <div>
                        <a href="">{{ 'landingpage.whyme' | translate }}</a>
                        <a href="">{{ 'landingpage.skills' | translate }}</a>
                        <a href="">{{ 'landingpage.projects' | translate }}</a>
                        <a href="">{{ 'landingpage.contact' | translate }}</a>
                        <div class="nav_lang">
                            <p [class.active]="activeLang === 'DE'" (click)="setActive('DE'); changeLanguage('de')">
                                DE
                            </p>
                            <p [class.active]="activeLang === 'EN'" (click)="setActive('EN'); changeLanguage('en')">
                                EN
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="name_section">
                <h1 class="fontAnta">Martin Bock</h1>
                <h2>FRONTEND DEVELOPER</h2>
            </div>
            <div class="arrow_down">
                <img src="./../../../assets/img/icons/arrow_down_icon.png" alt="">
            </div>
        </div>
    </div>
</section>