<section class="content">
    <div class="box1">
        <div class="profil_image">
            Image
        </div>
        <div class="logo_section">
            <div class="social_media">
                <img class="mail" src="./../../../assets/img/icons/mail_icon.png" alt="">
                <img class="github" src="./../../../assets/img/icons/github_icon.png" alt="">
                <img class="linkedin" src="./../../../assets/img/icons/linkedin_icon.png" alt="">
            </div>
            <div class="logo">
                <div class="logo_icon">
                    <img class="logo_img" src="./../../../assets/img/icons/logo_icon.png" alt="">
                    <img class="logo_img_hover" src="./../../../assets/img/icons/logo_icon_hover.png" alt="">
                </div>
                <p class="fontAnta">M.Bock</p>
                <p>developer</p>
            </div>
            <div class="name_section">
                <h1 class="fontAnta">Martin Bock</h1>
                <h2>FRONTEND DEVELOPER</h2>
            </div>
            <div>
                <img src="./../../../assets/img/icons/arrow_down_icon.png" alt="">
            </div>
        </div>
    </div>
    <div class="box2">
        Nav
    </div>
</section>