@import './../../../styles.scss';

.hero {
    width: 100%;
    height: calc(100vh - 80px);
    @include dFlex();
    flex-direction: column;
    
}

.profil_section {
    @include dFlex();
    width: 100%;
    flex: 1;
    padding-left: 50px;
    padding-right: 50px;
}

.profil_image {
    @include dFlex();
    height: 100%;
    width: 50%;

    .profil_img_box {
        @include dFlex($ai: flex-end, $g: 0);
        // @include posi($p: relative);
        position: relative;
        height: 80%;
        width: 80%;

        img {
            background: none;
            object-fit: cover;
        }

        .profil_img {
            @include posi($b: 0, $l: 50%);
            transform: translate(-50%, -1%);
            max-height: 100%;
            max-width: 100%;
            z-index: 2;
            pointer-events: none;
        }

        .bg_img {
            @include posi($b: 0, $l: 51%);
            transform: translate(-49%, -0%);
            max-height: 90%;
            max-width: 100%;
            opacity: 1;
            transition: opacity 0.75s ease-in-out;
            z-index: 1;
        }

        .bg_img_hover {
            @include posi($b: 0, $l: 49%);
            transform: translate(-51%, -1.5%) rotate(10deg);
            max-height: 85%;
            max-width: 105%;
            opacity: 0;
            transition: opacity 0.75s ease-in-out;
            z-index: 1;
            pointer-events: none; // Klicks und Hovers gehen "durch" das Bild
        }

        .profil_img_bg {
            display: none;
        }

        &:hover {
            .bg_img {
                opacity: 0;
            }

            .bg_img_hover {
                opacity: 1;
            }
        }
    }
}

.logo_section {
    @include dFlex($jc: space-between);
    flex-direction: column;
    width: 50%;
    height: 85%;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;

    .social_media {
        width: 100%;
        @include dFlex($ai: flex-end);
        flex-direction: column;


        img {
            margin-top: 10px;
        }

        .mail:hover {
            background-image: url('./../../../assets/img/icons/mail_icon_hover.png');
        }

        .github:hover {
            background-image: url('./../../../assets/img/icons/github_icon_hover.png');
        }

        .linkedin:hover {
            background-image: url('./../../../assets/img/icons/linkedin_icon_hover.png');
        }
    }

    .logo {
        @include dFlex();
        flex-direction: column;

        div {
            @include dFlex();
            flex-direction: column;
        }

        .logo_icon {
            position: relative;

            .logo_img {
                transition: opacity 0.7s ease-in-out;
                position: absolute;
                top: 0;
                left: 2px;
            }

            .logo_img_hover {
                transition: opacity 0.7s ease-in-out;
                opacity: 0;
            }
        }

        &:hover {
            .logo_icon {
                .logo_img_hover {
                    opacity: 1;
                }

                .logo_img {
                    opacity: 0;
                }
            }
        }

        .dev {
            color: $blue;
            font-weight: 300;
        }

        .burger_menu {
            display: none
        }

        .resp_menu_box {
            display: none;
        }
    }

    .name_section {
        @include dFlex();
        flex-direction: column;
        margin-top: 50px;

        h1,
        h2 {
            text-align: center;
            margin-bottom: 20px;
        }
    }

    .arrow_down {
        background-color: transparent;

        img:hover {
            background-image: url('./../../../assets/img/icons/arrow_down_hover_icon.svg');
            cursor: pointer;
        }
    }
}

/* --------------------------------------------------   Mobil   --------------------------------------------------*/
@media (max-width: 1100px) {

    .profil_section {
        @include dFlex($jc: flex-start);
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;

        .profil_image {
            position: absolute;
            top: 90px;
            height: 50%;
            width: 100%;
            background-color: transparent;

            .profil_img_box {
                @include dFlex();
                background-color: transparent;
                position: relative;

                .bg_img,
                .bg_img_hover {
                    display: none;
                    opacity: 0;
                }

                .profil_img {
                    max-height: 100%;
                }

                .profil_img_bg {
                    display: block;
                    max-height: 90%;
                    position: absolute;
                    bottom: 5px;
                    transform: rotate(10deg);
                }
            }
        }
    }

    .logo_section {
        @include dFlex($jc: space-between, $ai: center);
        width: 100%;

        .social_media {
            display: none;
        }

        .logo {
            @include dFlex($jc: space-between, $ai: flex-start);
            flex-direction: row;
            width: 100%;

            &:hover {
                .logo_icon {
                    .logo_img_hover {
                        opacity: 0;
                    }

                    .logo_img {
                        opacity: 1;
                    }
                }
            }

            .burger_menu {
                display: block;
                width: 30px;
                height: 32px;
                cursor: pointer;
                background-image: url('./../../../assets/img/icons/burger_menu.svg');
                background-repeat: no-repeat;
                background-position: center;
            }

            .toggle {
                animation: hamburgerOpen 1s forwards;
            }

            @keyframes hamburgerOpen {
                0% {
                    background-image: url('./../../../assets/img/icons/burger_menu.svg');
                }

                33% {
                    background-image: url('./../../../assets/img/icons/burger_hover.svg');
                }

                66% {
                    background-image: url('./../../../assets/img/icons/burger_close.svg');
                }

                100% {
                    background-image: url('./../../../assets/img/icons/burger_close_bold.svg');
                }
            }

            .resp_menu_box {
                visibility: hidden;
                @include dFlex();
                flex-direction: column;
                width: 353px;
                height: 370px;
                position: absolute;
                top: 35%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 2;
                background-image: url('./../../../assets/img/svg/resp_menu_overlay.svg');
                background-size: cover;
                background-repeat: no-repeat;

                >div {
                    @include dFlex($jc: space-around);
                    background-color: transparent;
                    width: 100%;
                    height: 100%;
                    padding: 20px;

                    a {
                        text-decoration: none;
                        background-color: transparent;
                        color: $dark_grey;
                        font-size: 22px;
                        font-weight: 400;

                        &:hover {
                            cursor: pointer;
                            color: $creme_white;
                        }
                    }

                    .nav_lang {
                        @include dFlex($g: 16px);
                        flex-direction: row;
                        background-color: transparent;

                        p {
                            @include dFlex();
                            background-color: transparent;
                            color: $dark_grey;
                            font-size: 18px;
                            font-weight: 400;

                            &:hover {
                                cursor: pointer;
                                color: $creme_white;
                            }

                            &:active,
                            &.active {
                                @include dFlex();
                                cursor: pointer;
                                background-image: url('./../../../assets/img/icons/nav_ellipse_lang_activateted.svg');
                                background-position: center;
                                width: 36px;
                                height: 24px;
                                color: $creme_white;
                            }
                        }
                    }
                }

                >img {
                    cursor: pointer;
                }

                &.show {
                    visibility: visible;
                    transform: translate(-50%, -50%) scale(1);
                    transition: transform 0.3s ease-in-out;
                }

                &.resp_menu_closed {
                    visibility: hidden;
                    transform: translate(-50%, -50%) scale(0);
                }
            }
        }

        .name_section {
            position: absolute;
            top: 450px;
            left: 50%;
            transform: translate(-50%);
            width: 100%;
            height: 150px;

            h1 {
                font-size: 48px;
            }

            h2 {
                font-size: 24px;
            }
        }

        .arrow_down {
            position: absolute;
            top: 700px;
            left: 50%;
            transform: translate(-50%);

            img {
                width: 30px;
                height: 60px;

                &:hover {
                    background-image: url('./../../../assets/img/icons/arrow_down_icon_mobile_hover.svg');
                    width: 30px;
                    height: 60px;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .profil_section {
        padding-left: 10px;
        padding-right: 10px;
    }

    .profil_img {
        height: 90%;
    }

    .profil_img_bg {
        height: 75%;
    }

    .logo_section {

        .logo {
            .resp_menu_box {
                top: 37%;
                left: 50%;
                width: 300px;
                height: 340px;
                background-size: 300px;
            }
        }
    }
}

@media (max-width: 370px) {
    .profil_section {

        .profil_image {

            .profil_img_box {

                .profil_img_bg {
                    max-height: 70%;
                }
            }
        }
    }


    .logo_section {

        .name_section {

            h1 {
                font-size: 32px;
            }

            h2 {
                font-size: 16px;
            }
        }
    }
}