@mixin dFlex($jc: center, $ai: center, $g: 0px) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    gap: $g;
}

@mixin posi($p: absolute, $b: 0, $l: 0) {
    position: $p;
    bottom: $b;
    left: $l;
}