<section class="my_projects content_max">
  <div class="content">
    <h2>{{ "title.headline" | translate }}</h2>
    <div class="project-container">
      <h3 class="project-group-title">
        {{ "title.frontend_projects" | translate }}
      </h3>
      <div class="nav">
        <div class="nav_desktop">
          @for (project of frontendProjects; track project) {
            <p
              (click)="selectFrontendProject($index)"
              [class.active]="selectedFrontendIndex === $index"
            >
                 {{ project.project_title | translate }}
            </p>
          }
        </div>
        <div class="nav_mobile">
          @for (project of frontendProjects; track project) {
          <p
            (click)="selectFrontendProject($index)"
            [class.active]="selectedFrontendIndex === $index"
          >
            {{ "title.project" + ($index + 1) | translate }}
          </p>
          }
        </div>
      </div>
      <app-single-project
        [project]="frontendProjects[selectedFrontendIndex]"
      ></app-single-project>
    </div>
    <div class="project-container">
      <h3 class="project-group-title">
        {{ "title.backend_projects" | translate }}
      </h3>
      <div class="nav">
        <div class="nav_desktop">
          @for (project of backendProjects; track project) {
          <p
            (click)="selectBackendProject($index)"
            [class.active]="selectedBackendIndex === $index"
          >
            {{ project.project_title | translate }}
          </p>
          }
        </div>

        <!-- Mobile-Version -->
        <div class="nav_mobile">
          @for (project of backendProjects; track project) {
          <p
            (click)="selectBackendProject($index)"
            [class.active]="selectedBackendIndex === $index"
          >
            {{ "title.project" + ($index + 5) | translate }}
          </p>
          }
        </div>
      </div>
      <app-single-project
        [project]="backendProjects[selectedBackendIndex]"
      ></app-single-project>
    </div>
  </div>
</section>
