<section>
    <div class="content_max">
        <h1>{{ 'privacypolicy.headline' | translate }}</h1>
        <p [innerHTML]="'privacypolicy.text_block_one' | translate"></p>

        <p [innerHTML]="'privacypolicy.structure' | translate"></p>
        <h2>{{ 'privacypolicy.structure_one_headline' | translate }}</h2>
        <p [innerHTML]="'privacypolicy.structure_one' | translate"></p>
        <h2>{{ 'privacypolicy.structure_two_headline' | translate }}</h2>
        <p [innerHTML]="'privacypolicy.structure_two' | translate"></p>
        <h2>{{ 'privacypolicy.structure_three_headline' | translate }}</h2>
        <p [innerHTML]="'privacypolicy.structure_three' | translate"></p>

        <h2>{{ 'privacypolicy.contact_headline' | translate }}</h2>
        <p [innerHTML]="'privacypolicy.contact' | translate"></p>

        <h2>{{ 'privacypolicy.linkedin_headline' | translate }}</h2>
        <p [innerHTML]="'privacypolicy.linkedin' | translate"></p>

        <p [innerHTML]="'privacypolicy.lawer' | translate"></p>

        <div class="button">
          <a routerLink="/" (click)="scrollToTop()">
            <button>
              {{ "legalnotices.mainpage" | translate }}
              <!-- Startseite -->
            </button>
          </a>
        </div>
    </div>
</section>