@use './../../styles/mixins.scss' as *;
@use './../../styles/colors.scss' as *;

.legalnotices {
    @include dFlex($jc: center, $g: 60px);
    height: calc(100vh - 214px);
    // padding-top: 20px;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    div {
        @include dFlex($jc: space-evenly, $g: 10px);
        flex-direction: column;
        h1,
        h2,
        h3,
        p,
        a {
            text-align: center;            
        }

        h1 {
            font-size: 60px;
        }

        h2 {
            font-size: 48px;
        }

        h3 {
            font-size: 32px;
        }

        p {
            font-size: 24px;
        }

        a {
            font-size: 24px;
            text-decoration: none;
            background-color: transparent;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    button {
        font-size: 24px;
        color: $dark_grey;
        background-color: $green;
        border-radius: 20px;
        padding: 5px 10px;
        cursor: pointer;
    }
}

/* --------------------------------------------------   Mobil   --------------------------------------------------*/
@media (max-width: 500px) {
    .legalnotices {
        padding-left: 10px;
        padding-right: 10px;
        div {
            width: 100%;

            h1 {
                font-size: 32px;
            }

            h2 {
                font-size: 24px;
            }

            h3 {
                font-size: 18px;
            }

            p {
                font-size: 16px;
            }

            a {
                font-size: 16px;
            }
        }
    }
}