
<section>
    <div class="imprint">
        <h1>Impressum</h1>
        <h2 id="m46">Diensteanbieter</h2>
        <p>Martin Bock</p>
        <p>Becherweg 30</p>
        <p>13407 Berlin</p>
        
        <h2 id="m56">Kontaktmöglichkeiten</h2>
        <p>E-Mail-Adresse: kontakt&#64;martin-bock.info</p>
        <p>Telefon: +49 30 81473698</p>
        
        <h2 id="m172">Social Media und andere Onlinepräsenzen</h2>
        <p>Dieses Impressum gilt auch für die folgenden Social-Media-Präsenzen und Onlineprofile: </p>
        <p><a href="https://www.linkedin.com/in/martin-bock-8aa698139"
                target="_blank">https://www.linkedin.com/in/martin-bock-8aa698139</a></p>
        
        <p class="seal"><a href="https://datenschutz-generator.de/"
                title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank"
                rel="noopener noreferrer nofollow">Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas Schwenke</a>
        </p>
    </div>
    
    <a routerLink="">zurück zur Mainpage</a>

</section>
