<section class="my_skills content_max">
  <h2>{{ "my_skills.myskills" | translate }}</h2>
  <main class="content">
    <div class="icon_container">
      <figure>
        <img src="assets/img/icons/skills/angular.svg" alt="Angular Icon"/>
        <figcaption>Angular</figcaption>
      </figure>
      <figure>
        <img src="assets/img/icons/skills/typescript.svg" alt="TypeScript Icon"/>
        <figcaption>TypeScript</figcaption>
      </figure>
      <figure>
        <img src="assets/img/icons/skills/javascript.svg" alt="JavaScript Icon"/>
        <figcaption>JavaScript</figcaption>
      </figure>
      <figure>
        <img src="assets/img/icons/skills/html.svg" alt="HTML Icon"/>
        <figcaption>HTML</figcaption>
      </figure>
      <figure>
        <img src="assets/img/icons/skills/css.svg" alt="CSS Icon"/>
        <figcaption>CSS</figcaption>
      </figure>
      <figure>
        <img src="assets/img/icons/skills/api.svg" alt="Rest-Api Icon"/>
        <figcaption>Rest-Api</figcaption>
      </figure>
      <figure>
        <img src="assets/img/icons/skills/firebase.svg" alt="Firebase Icon"/>
        <figcaption>Firebase</figcaption>
      </figure>
      <figure>
        <img src="assets/img/icons/skills/git.svg" alt="GIT Icon"/>
        <figcaption>GIT</figcaption>
      </figure>
      <figure>
        <img src="assets/img/icons/skills/material_design.svg" alt="Material-Design Icon"/>
        <figcaption>Material-Design</figcaption>
      </figure>
      <figure>
        <img src="assets/img/icons/skills/scrum.svg" alt="Scrum Icon"/>
        <figcaption>Scrum</figcaption>
      </figure>
      <figure>
        <img src="assets/img/icons/skills/backend/python.svg" alt="Python Icon"/>
        <figcaption>Python</figcaption>
      </figure>
      <figure>
        <img src="assets/img/icons/skills/backend/django.svg" alt="Django Icon"/>
        <figcaption>Django</figcaption>
      </figure>
      <figure>
        <img src="assets/img/icons/skills/backend/linux.svg" alt="Linux Icon"/>
        <figcaption>Linux</figcaption>
      </figure>
      <figure>
        <img src="assets/img/icons/skills/backend/redis.svg" alt="Redis Icon"/>
        <figcaption>Redis</figcaption>
      </figure>
      <figure>
        <img src="assets/img/icons/skills/backend/flask.svg" alt="Flask Icon"/>
        <figcaption>Flask</figcaption>
      </figure>
      <figure>
        <img src="assets/img/icons/skills/backend/postgresql.svg" alt="PostgreSQL Icon"/>
        <figcaption>PostgreSQL</figcaption>
      </figure>
      <figure>
        <img src="assets/img/icons/skills/backend/heroku.svg" alt="Heroku Icon"/>
        <figcaption>Heroku</figcaption>
      </figure>
      <figure>
        <img src="assets/img/icons/skills/backend/sql.svg" alt="SQL Icon"/>
        <figcaption>SQL</figcaption>
      </figure>
      <figure>
        <img src="assets/img/icons/skills/backend/docker.svg" alt="Docker Icon"/>
        <figcaption>Docker</figcaption>
      </figure>
      <figure>
        <img src="assets/img/icons/skills/backend/cloud.svg" alt="Cloud Icon"/>
        <figcaption>Cloud</figcaption>
      </figure>
      <figure>
        <img src="assets/img/icons/skills/backend/rxjs.svg" alt="RxJs Icon"/>
        <figcaption>RxJs</figcaption>
      </figure>
    </div>
    <div class="learning_container">
      <img class="learning_bg" src="assets/img/svg/learning_bg.svg" alt=" Background Icon"/>
      <img
        class="learning_bg_hover"
        src="assets/img/svg/learning_bg_hover.svg"
        alt=" Background Hover Icon"
      />
      <div class="text">
        <p>
          {{ "my_skills.learningHeadline" | translate }}
        </p>
        <div class="learning_icons">
          <figure>
            <!-- <img src="assets/img/icons/react.svg" alt="React Icon"/>
                        <figcaption>React</figcaption> -->
            <img src="assets/img/icons/skills/backend/python.svg" alt="Python Icon"/>
            <figcaption>Python</figcaption>
          </figure>
          <figure>
            <!-- <img src="assets/img/icons/vue_js.svg" alt="Vue Icon"/>
                        <figcaption>Vue JS</figcaption> -->
            <img src="assets/img/icons/skills/backend/django.svg" alt="Django Icon"/>
            <figcaption>Django</figcaption>
          </figure>
        </div>
        <p>
          {{ "my_skills.learningContent" | translate }}
        </p>
      </div>
    </div>
    <figure class="icon_container_mobile">
      <img src="assets/img/icons/skills/angular_mobile.svg" alt="Angular Icon"/>
      <img src="assets/img/icons/skills/typescript_mobile.svg" alt="TypeScript Icon"/>
      <img src="assets/img/icons/skills/javascript_mobile.svg" alt="JavaScript Icon"/>
      <img src="assets/img/icons/skills/html_mobile.svg" alt="HTML Icon"/>
      <img src="assets/img/icons/skills/css_mobile.svg" alt="CSS Icon"/>
      <img src="assets/img/icons/skills/api_mobile.svg" alt="API Icon"/>
      <img src="assets/img/icons/skills/firebase_mobile.svg" alt="Firebase Icon"/>
      <img src="assets/img/icons/skills/git_mobile.svg" alt="Git Icon"/>
      <img src="assets/img/icons/skills/material_design_mobile.svg" alt="Material Design Icon"/>
      <img src="assets/img/icons/skills/scrum_mobile.svg" alt="Scrum Icon"/>
      <img src="assets/img/icons/skills/backend/python.svg" alt="Python Icon"/>
      <img src="assets/img/icons/skills/backend/django.svg" alt="Django Icon"/>
      <img src="assets/img/icons/skills/backend/linux.svg"alt="Linux Icon"/>
      <img src="assets/img/icons/skills/backend/redis.svg" alt="Redis Icon"/>
      <img src="assets/img/icons/skills/backend/flask.svg" alt="Flask Icon"/>
      <img src="assets/img/icons/skills/backend/postgresql.svg" alt="PostgreSQL Icon"/>
      <img src="assets/img/icons/skills/backend/heroku.svg" alt="Heroku Icon"/>
      <img src="assets/img/icons/skills/backend/sql.svg" alt="SQL Icon"/>
      <img src="assets/img/icons/skills/backend/docker.svg" alt="Docker Icon"/>
      <img src="assets/img/icons/skills/backend/cloud.svg" alt="Cloud Icon"/>
      <img src="assets/img/icons/skills/backend/rxjs.svg" alt="RxJs Icon"/>
    </figure>
    <div class="learning_container_mobile">
      <div class="text">
        <p>
          <!-- {{ "my_skills.learningHeadline" | translate }} React & Vue JS. -->
            {{ "my_skills.learningHeadline" | translate }} Python & Django.
          {{ "my_skills.learningContent" | translate }}
        </p>
        <div class="learning_icons">
          <figure>
            <!-- <img src="assets/img/icons/react.svg" alt="React Icon"/>
                        <figcaption>React</figcaption> -->
            <img src="assets/img/icons/skills/backend/python.svg" alt="Python Icon"/>
            <figcaption>Python</figcaption>
          </figure>
          <figure>
            <!-- <img src="assets/img/icons/vue_js.svg" alt="Vue Icon"/>
                        <figcaption>Vue JS</figcaption> -->
            <img src="assets/img/icons/skills/backend/django.svg" alt="Django Icon"/>
            <figcaption>Django</figcaption>
          </figure>
        </div>
        <img src="assets/img/svg/learning_icons_bg_mobile.svg" alt="Background Icon"/>
      </div>
    </div>
  </main>
</section>
