<section class="my_skills content_max">
    <h2>{{ 'my_skills.myskills' | translate }}</h2>
    <div class="content">
        <div class="icon_container">
            <div>
                <img src="./../../../assets/img/icons/skills/angular.svg">
                <p>Angular</p>
            </div>
            <div>
                <img src="./../../../assets/img/icons/skills/typescript.svg">
                <p>TypeScript</p>
            </div>
            <div>
                <img src="./../../../assets/img/icons/skills/javascript.svg">
                <p>JavaScript</p>
            </div>
            <div>
                <img src="./../../../assets/img/icons/skills/html.svg">
                <p>HTML</p>
            </div>
            <div>
                <img src="./../../../assets/img/icons/skills/css.svg">
                <p>CSS</p>
            </div>
            <div>
                <img src="./../../../assets/img/icons/skills/api.svg">
                <p>Rest-Api</p>
            </div>
            <div>
                <img src="./../../../assets/img/icons/skills/firebase.svg">
                <p>Firebase</p>
            </div>
            <div>
                <img src="./../../../assets/img/icons/skills/git.svg">
                <p>GIT</p>
            </div>
            <div>
                <img src="./../../../assets/img/icons/skills/material_design.svg">
                <p>Material-Design</p>
            </div>
            <div>
                <img src="./../../../assets/img/icons/skills/scrum.svg">
                <p>Scrum</p>
            </div>
        </div>
        <div></div>
    </div>
</section>