<section class="my_skills content_max">
    <h2>{{ 'my_skills.myskills' | translate }}</h2>
    <div class="content">
        <div class="icon_container">
            <div>
                <img src="assets/img/icons/skills/angular.svg">
                <p>Angular</p>
            </div>
            <div>
                <img src="assets/img/icons/skills/typescript.svg">
                <p>TypeScript</p>
            </div>
            <div>
                <img src="assets/img/icons/skills/javascript.svg">
                <p>JavaScript</p>
            </div>
            <div>
                <img src="assets/img/icons/skills/html.svg">
                <p>HTML</p>
            </div>
            <div>
                <img src="assets/img/icons/skills/css.svg">
                <p>CSS</p>
            </div>
            <div>
                <img src="assets/img/icons/skills/api.svg">
                <p>Rest-Api</p>
            </div>
            <div>
                <img src="assets/img/icons/skills/firebase.svg">
                <p>Firebase</p>
            </div>
            <div>
                <img src="assets/img/icons/skills/git.svg">
                <p>GIT</p>
            </div>
            <div>
                <img src="assets/img/icons/skills/material_design.svg">
                <p>Material-Design</p>
            </div>
            <div>
                <img src="assets/img/icons/skills/scrum.svg">
                <p>Scrum</p>
            </div>
        </div>
        <div class="learnimg_container">
            <img class="learning_bg" src="assets/img/svg/learning_bg.svg">
            <img class="learning_bg_hover" src="assets/img/svg/learning_bg_hover.svg">
            <div class="text">
                <p>
                    {{ 'my_skills.learningHeadline' | translate }}
                </p>
                <div class="learning_icons">
                    <div>
                        <!-- <img src="assets/img/icons/react.svg">
                        <p>React</p> -->
                        <img src="assets/img/icons/skills/backend/python.svg">
                        <p>Python</p>
                    </div>
                    <div>
                        <!-- <img src="assets/img/icons/vue_js.svg">
                        <p>Vue JS</p> -->
                        <img src="assets/img/icons/skills/backend/django.svg">
                        <p>Django</p>
                    </div>
                </div>
                <p>
                    {{ 'my_skills.learningContent' | translate }}
                </p>
            </div>
        </div>
        <div class="icon_container_mobile">
            <img src="assets/img/icons/skills/angular_mobile.svg">
            <img src="assets/img/icons/skills/typescript_mobile.svg">
            <img src="assets/img/icons/skills/javascript_mobile.svg">
            <img src="assets/img/icons/skills/html_mobile.svg">
            <img src="assets/img/icons/skills/css_mobile.svg">
            <img src="assets/img/icons/skills/api_mobile.svg">
            <img src="assets/img/icons/skills/firebase_mobile.svg">
            <img src="assets/img/icons/skills/git_mobile.svg">
            <img src="assets/img/icons/skills/material_design_mobile.svg">
            <img src="assets/img/icons/skills/scrum_mobile.svg">
        </div>
        <div class="learnimg_container_mobile">
            <div class="text">
                <p>
                    {{ 'my_skills.learningHeadline' | translate }} React & Vue JS.                
                    {{ 'my_skills.learningContent' | translate }}
                </p>
                <div class="learning_icons">
                    <div>
                        <!-- <img src="assets/img/icons/react.svg">
                        <p>React</p> -->
                        <img src="assets/img/icons/skills/backend/python.svg">
                        <p>Python</p>
                    </div>
                    <div>
                        <!-- <img src="assets/img/icons/vue_js.svg">
                        <p>Vue JS</p> -->
                        <img src="assets/img/icons/skills/backend/django.svg">
                        <p>Django</p>
                    </div>
                </div>
                <img src="assets/img/svg/learning_icons_bg_mobile.svg">
            </div>
        </div>
    </div>
</section>