@use './../../../styles/mixins.scss' as *;
@use './../../../styles/colors.scss' as *;

.my_skills {
    @include dFlex($jc: flex-start, $g: 80px);
    flex-direction: column;
    width: 1000px;
    position: relative;
    top: 140px;

    h2 {
        font-family: 'Anta';
        color: $blue;
        font-size: 60px;
        font-weight: 400;
        text-align: center;
    }

    .content {
        @include dFlex($jc: space-between, $g: 50px);
        width: 100%;
        margin-bottom: 100px;

        .icon_container {
            @include dFlex($jc: flex-start, $g: 40px);
            flex-wrap: wrap;
            width: 60%;
            // height: 600px;

            >figure {
                @include dFlex($g: 10px);
                flex-direction: column;
                width: 70px;
                height: 100px;

                img {
                    height: 60px;
                }

                figcaption {
                    font-size: 18px;
                    font-weight: 400;
                    color: $blue;
                }
            }
        }

        .learning_container {
            position: relative;
            @include dFlex();
            width: 40%;
            height: 391px;

            .learning_bg {
                position: absolute;
                left: 0%;
                bottom: 0;
                background-color: transparent;
                opacity: 1;
            }

            .learning_bg_hover {
                position: absolute;
                left: 0%;
                bottom: -5%;
                background-color: transparent;
                opacity: 0;
            }

            &:hover {
                .learning_bg {
                    opacity: 0;
                }

                .learning_bg_hover {
                    opacity: 1;
                }
            }

            .text {
                @include dFlex($jc: space-evenly);
                flex-direction: column;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 300px;
                height: 80%;
                text-align: center;
                background-color: transparent;
                pointer-events: none;

                p {
                    background-color: transparent;
                    font-size: 18px;
                    font-weight: 400;
                }

                .learning_icons {
                    background-color: transparent;
                    @include dFlex($g: 24px);

                    figure {
                        background-color: transparent;

                        img {
                            width: 28.56px;
                            height: 32px;
                            background-color: transparent;
                        }

                        figcaption {
                            font-size: 14px;
                            font-weight: 400;
                            background-color: transparent;
                        }
                    }
                }
            }
        }

        .icon_container_mobile,
        .learning_container_mobile {
            display: none;
        }
    }
}

/* --------------------------------------------------   Mobil   --------------------------------------------------*/
@media (max-width: 1100px) {
    .my_skills {
        @include dFlex($g: 32px);
        top: 0px;
        padding-left: 50px;
        padding-right: 50px;
        width: 100%;

        h2 {
            text-align: center;
        }

        .content {
            @include dFlex($jc: space-between, $g: 50px);
            flex-direction: column;
            width: 100%;

            .icon_container,
            .learning_container {
                display: none;
            }

            .icon_container_mobile {
                @include dFlex($jc: space-evenly, $g: 40px);
                flex-wrap: wrap;
                width: 450px;
                background-color: transparent;



                img {
                    width: 45px;
                }

            }

            .learning_container_mobile {
                @include dFlex($jc: space-between, $g: 50px);
                position: relative;
                background-color: transparent;

                .text {
                    @include dFlex($jc: space-around);
                    width: 450px;
                    background-color: transparent;

                    p {
                        width: 60%;
                    }

                    .learning_icons {
                        @include dFlex();
                        width: 40%;
                        height: 100px;
                        background-color: transparent;
                        z-index: 2;

                        >figure {
                            @include dFlex($g: 10px);
                            flex-direction: column;
                            width: 55px;
                            height: 100%;
                            background-color: transparent;

                            figcaption {
                                font-size: 14px;
                                background-color: transparent;
                                width: 100%;
                                text-align: center;
                            }

                            img {
                                width: 28.56px;
                                height: 32px;
                                background-color: transparent;
                            }
                        }
                    }

                    >img {
                        position: absolute;
                        right: 25px;
                        transform: rotate(90deg);
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .my_skills {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;

        h2 {
            font-size: 32px;
        }

        .content {

            .icon_container_mobile {
                width: 100%;
                height: auto;
            }

            .learning_container_mobile {
                width: 100%;

                .text {
                    position: relative;
                    width: 100%;

                    p {
                        width: 45%;
                    }

                    .learning_icons {
                        width: 50%;

                        div {
                            width: 60px;
                        }
                    }

                    >img {
                        position: absolute;
                        left: 68%;
                        bottom: 15%;
                        transform: translate(-32%);
                    }
                }
            }
        }
    }
}

@media (max-width: 370px) {
    .my_skills {
        width: 100%;

        .content {

            .icon_container_mobile {
                width: 100%;
            }

            .learning_container_mobile {
                width: 100%;

                .text {
                    @include dFlex($g: 30px);
                    flex-direction: column;
                    width: 100%;
                    position: relative;

                    p {
                        width: 100%;
                        text-align: center;
                    }

                    .learning_icons {
                        width: 100%;
                        height: 140px;
                    }

                    >img {
                        position: absolute;
                        left: 50%;
                        bottom: 0;
                        transform: translate(-50%);

                    }
                }
            }
        }
    }
}