<section>
    <div class="footer content_max">
        <div class="legal_notice">
            <a routerLink="legal" (click)="scrollToTop()">{{ 'footer.legal_notice' | translate }} </a>
            <p>&copy;{{ currentYear }} Martin Bock</p>
        </div>
        <div class="logo">
            <div class="logo_icon">
                <a routerLink="/" (click)="scrollToTop()">
                    <img class="logo_img" src="assets/img/icons/nav_logo_icon.svg" alt="Logo Icon">
                </a>
            </div>
            <p class="fontAnta">M.Bock</p>
            <p class="dev">developer</p>
        </div>
        <div class="social_media">
            <a href="https://github.com/MartinBock1" target="_blank">
                <img class="github" src="assets/img/icons/github_icon_dark.png" alt="Github Icon">
                <img class="github_hover" src="assets/img/icons/github_icon_hover_white.png" alt="Github Icon">
            </a>
            <a href="mailto:kontakt@martin-bock.info">
                <img class="mail" src="assets/img/icons/mail_icon_dark.png" alt="Mail Icon">
                <img class="mail_hover" src="assets/img/icons/mail_icon_hover_white.png" alt="Mail Icon">
            </a>
            <a href="https://www.linkedin.com/in/martin-bock-8aa698139" target="_blank">
                <img class="linkedin" src="assets/img/icons/linkedin_icon_dark.png" alt="Linkedin Icon">
                <img class="linkedin_hover" src="assets/img/icons/linkedin_icon_hover_white.png" alt="Linkedin Icon">
            </a>
        </div>
    </div>
</section>
    
