/* You can add global styles to this file, and also import other style files */
@import './styles/colors.scss';
@import './styles/mixins.scss';

/* ------------------------------------------------   scrollbar   ------------------------------------------------*/
/* Für Firefox */
@-moz-document url-prefix() {
    * {
        scrollbar-width: thin;
        scrollbar-color: $blue;
    }
}

/* Für Chrome, Edge, Safari (alle WebKit/Chromium-Browser) */
@supports (-webkit-appearance: none) {
    ::-webkit-scrollbar {
        height: 10px;
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $blue;
        border-radius: 10px;
    }
}

/* ---------------------------------------------------------------------------------------------------------------*/

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    color: $creme_white;
    background-color: $dark_grey;

    // outline: 2px solid lime;
    // background: hsl(0 100% 50% / 0.1);
}

html {
    scroll-margin-top: -100px;
}

.content_max {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.fontAnta {
    font-family: 'Anta';
    font-weight: 400;
}

h1 {
    font-size: 88px;
}

h2 {
    font-size: 48px;
    font-weight: 400;
}

p {
    font-size: 16px;
}

a {
    cursor: pointer;
}

.bg_blue {
    color: $blue;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The deleting effect (backward) */
@keyframes deleting {
    from {
        width: 100%;
        border-color: $blue;
    }

    to {
        width: 0;
        border-color: transparent
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: $blue;
    }
}