<section class="content_max">
    <div class="reviews">
        <h1>{{ 'reviews.headline_one' | translate }} <span>{{ 'reviews.headline_two' | translate }}</span></h1>
        <div class="content_container">
            <div>
                <div class="reviews_content">
                    <div>
                        <h2>Sahra Mueller</h2>
                        <p>Project <span class="title">DA Bubble</span></p>   
                    </div>
                    <div>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis a sequi neque. Ducimus earum et nesciunt consequuntur rerum dolor fugit.                     
                    </div>
                    <div>
                        <a href="">LinkedIn Profile</a>
                    </div>
                </div>
                <img class="bg_img" src="assets/img/svg/learning_bg.svg" alt="">
                <img class="bg_img_hover" src="assets/img/svg/learning_bg_hover.svg" alt="">
            </div>
            <div>
                <div class="reviews_content">
                    <div>
                        <h2>James Rugman</h2>
                        <p>Project <span class="title">Join</span></p>
                    </div>
                    <div>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis a sequi neque. Ducimus earum et nesciunt
                        consequuntur rerum dolor fugit.
                    </div>
                    <div>
                        <a href=""> LinkedIn Profile</a>
                    </div>
                </div>
                <img class="bg_img" src="assets/img/svg/learning_bg.svg" alt="">
                <img class="bg_img_hover" src="assets/img/svg/learning_bg_hover.svg" alt="">
            </div>
            <div>
                <div class="reviews_content">
                    <div>
                        <h2>Evelyn Marx</h2>
                        <p>Project <span class="title">Sharkie</span></p>
                    </div>
                    <div>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis a sequi neque. Ducimus earum et nesciunt
                        consequuntur rerum dolor fugit.
                    </div>
                    <div>
                        <a href="">LinkedIn Profile</a>
                    </div>
                </div>
                <img class="bg_img" src="assets/img/svg/learning_bg.svg" alt="">
                <img class="bg_img_hover" src="assets/img/svg/learning_bg_hover.svg" alt="">
            </div>
        </div>
    </div>    
</section>