<section class="content_max">
  <div class="reviews">
    <h1>
      {{ "reviews.headline_one" | translate }}
      <span>{{ "reviews.headline_two" | translate }}</span>
    </h1>
    <div class="content_container">
      <div>
        <div class="reviews_content">
          <div>
            <h2>{{ "reviews.review_one_name" | translate }}</h2>
            <p>
              Project
              <span class="title">{{
                "reviews.review_one_project" | translate
              }}</span>
            </p>
          </div>
          <div class="review-text">
            <p>{{ "reviews.review_one_review" | translate }}</p>
          </div>
          <div>
            <a href="https://www.linkedin.com/in/dzmitry-stashkevich-3025861b9/" target="_blank">LinkedIn Profile</a>
          </div>
        </div>
        <img class="bg_img" src="assets/img/svg/learning_bg.svg" alt="" />
        <img
          class="bg_img_hover"
          src="assets/img/svg/learning_bg_hover.svg"
          alt=""
        />
      </div>
      <div>
        <div class="reviews_content">
          <div>
            <h2>{{ "reviews.review_two_name" | translate }}</h2>
            <p>
              Project
              <span class="title">{{
                "reviews.review_two_project" | translate
              }}</span>
            </p>
          </div>
           <div class="review-text">
            <p>{{ "reviews.review_two_review" | translate }}</p>
          </div>
          <div>
            <a href="https://www.linkedin.com/in/michael-spari-3541a3351" target="_blank"> LinkedIn Profile</a>
          </div>
        </div>
        <img class="bg_img" src="assets/img/svg/learning_bg.svg" alt="" />
        <img
          class="bg_img_hover"
          src="assets/img/svg/learning_bg_hover.svg"
          alt=""
        />
      </div>
      <div>
        <div class="reviews_content">
          <div>
            <h2>{{ "reviews.review_three_name" | translate }}</h2>
            <p>
              Project
              <span class="title">{{
                "reviews.review_three_project" | translate
              }}</span>
            </p>
          </div>
          <div class="review-text">
            <p>{{ "reviews.review_three_review" | translate }}</p>
          </div>
          <div>
            <a href="https://www.linkedin.com/in/philipp-franke-58b653350" target="_blank">LinkedIn Profile</a>
          </div>
        </div>
        <img class="bg_img" src="assets/img/svg/learning_bg.svg" alt="" />
        <img
          class="bg_img_hover"
          src="assets/img/svg/learning_bg_hover.svg"
          alt=""
        />
      </div>
      <div>
        <div class="reviews_content">
          <div>
            <h2>{{ "reviews.review_four_name" | translate }}</h2>
            <p>
              Project
              <span class="title">{{
                "reviews.review_four_project" | translate
              }}</span>
            </p>
          </div>
          <div class="review-text">
            <p>{{ "reviews.review_four_review" | translate }}</p>
          </div>
          <div>
            <a href="https://www.linkedin.com/in/normann-blum-362141357" target="_blank">LinkedIn Profile</a>
          </div>
        </div>
        <img class="bg_img" src="assets/img/svg/learning_bg.svg" alt="" />
        <img
          class="bg_img_hover"
          src="assets/img/svg/learning_bg_hover.svg"
          alt=""
        />
      </div>
      <div>
        <div class="reviews_content">
          <div>
            <h2>{{ "reviews.review_five_name" | translate }}</h2>
            <p>
              Project
              <span class="title">{{
                "reviews.review_five_project" | translate
              }}</span>
            </p>
          </div>
          <div class="review-text">
            <p>{{ "reviews.review_five_review" | translate }}</p>
          </div>
          <div>
            <a href="https://www.linkedin.com/in/dominik-marnet-4884ba341" target="_blank">LinkedIn Profile</a>
          </div>
        </div>
        <img class="bg_img" src="assets/img/svg/learning_bg.svg" alt="" />
        <img
          class="bg_img_hover"
          src="assets/img/svg/learning_bg_hover.svg"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
