<header [class.sticky]="isSticky" id="myHeader">
    <nav class="nav_section content_max" role="navigation" aria-label="Hauptnavigation">
        <div class="nav_logo">
            <a routerLink="/">
                <img class="logo_img" src="assets/img/icons/nav_logo_icon.svg" alt="Logo von M.Bock">
                <p class="fontAnta">M.Bock</p>
                <p class="dev">developer</p>
            </a>
        </div>
        <div class="nav_links">
            <a href="#why_me">
                <span [class.active]="activeSection === 'Warum ich'" (click)="setActiveSection('Warum ich')">{{ 'landingpage.whyme' | translate }}</span>
            </a>
            <a href="#skills">
                <span [class.active]="activeSection === 'Fähigkeiten'" (click)="setActiveSection('Fähigkeiten')">{{ 'landingpage.skills' | translate }}</span>
            </a>
            <a href="#my_projects">
                <span [class.active]="activeSection === 'Projekte'" (click)="setActiveSection('Projekte')">{{ 'landingpage.projects' | translate }}</span>
            </a>
            <a href="#contact_me">
                <span [class.active]="activeSection === 'Kontakt'" (click)="setActiveSection('Kontakt')">{{ 'landingpage.contact' | translate }}</span>
            </a>
        </div>
        <div class="nav_lang">
            <span tabindex="0" [class.active]="activeLang === 'DE'" (click)="setActive('DE'); changeLanguage('de')">
                DE
            </span>
            <span tabindex="0" [class.active]="activeLang === 'EN'" (click)="setActive('EN'); changeLanguage('en')">
                EN
            </span>
        </div>
    </nav>
</header>